mat-toolbar {
  background: #111 !important;
  color: white !important;

  border-bottom: 3px solid #d90429;

  box-shadow:
    0 0 10px rgba(217,4,41,.3),
    0 4px 15px rgba(0,0,0,.5);
}

.espacador {
  flex: 1 1 auto;
}

a[mat-button] {
  color: white !important;
  transition: .3s;
}

a[mat-button]:hover {
  color: #d90429 !important;
}

.ativo {
  color: #d90429 !important;
  font-weight: bold;
}

/* Conteúdo das páginas */
main {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.container-app {
  height: 100vh;
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav-content {
  min-height: 100vh;
}
mat-sidenav {
  width: 250px;
  background: #151515;
  color: white;
}
.titulo-menu {
  color: #d90429;
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}

mat-sidenav a {
  display: block;
  width: 100%;
  text-align: left;
  color: white !important;
  margin-bottom: 10px;
}